main {
    position: relative;
    left: 210px;
    height: 100%;
    width: calc(100% - 180px);
    display: inline-block;
}

.map {
    display: block;
    margin: auto;
    width: 65%;
}

.aside-left {
    width: 450px;
    background-color: white;
    height: 96vh;
    position: fixed;
    /* top: 0;
    left: 0; */
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

.hotspot {
    position: absolute;
    display: none;
}

.hotspot svg {
    filter: brightness(0) saturate(100%) invert(17%) sepia(99%) saturate(7474%) hue-rotate(360deg) brightness(96%) contrast(105%);
    width: 30px;
    height: 30px;
}

.hotspot svg:hover {
    cursor: pointer;
    transform: scale(1.25);
}



.tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -102px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;

    align-items: center;
}

.tooltiptext img {
    width: 200px;
}

.hotspot:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.logo img {
    width: 90%;
    padding: 20px;
}

.visible {
    display: block;
}
